html{background-color:#99C2FF;
     font-family: Verdana, fantasy;}

list{margin-left: 5%;}
h1{color: red;
   border: 5px solid #01118B;
   background-color: white;
   font-size:40px;}

h2{color: red;
   font-size:35px;}

h3{color: #01118B;
   font-size: 20px;}
